<!doctype html>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/static/css/pure-min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/static/css/rainbowthemes/paraiso-dark.css" type="text/css" media="screen" charset="utf-8">

        <script src="/static/js/rainbow-custom.min.js" charset="utf-8"> </script>

    </head>

    <body>

        <div id="left">

        </div>

        <div id="right">
            <div id="content">
                <div id="archive">
                    <div id="title">
                        <h1>Recent posts</h1>
                    </div>
                    <div id="posts-list">
                        <div class="post">
                            <div class="post-title">
                                <h3><a href="/changing-flask-default-templates-directory/">Changing Flask's default templates directory</a></h3>
                            </div>
                            <div class="post-metadata">
                                <span>Posted by : Kevin</span>&nbsp;&nbsp;
                                <span>Posted at : Wednesday, May 28 2014</span>
                            </div>
                            <div class="post-excerpt">
                                Assume that you had to move all your Flask application's files and directories to another sub-directory named, let's say app/. In that case, now when you...
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer">
                    Source code @ <a href="http://www.github.com/kevinpaladin/myblog">Github.com/kevinpaladin/myblog</a>
                </div>
            </div>
        </div>

    </body>
</html>

